body {
  font-family: "Lucidia Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  margin: 0;
  padding: 0;
}
#header {
  background-image: url('/back.jpg');
  color: white;
  padding: 10px;
  top: 0;
  left: 0;
}
#header h1 {
  margin: 0;
}

#header h1 a {
  color: #FFF;
  text-decoration: none;
}

#header span a {
  color: #FFF;
}

#header span.menu {
  border-left: 1px dotted black;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
  margin-right: 0;
}

#content {
  padding: 10px;
  padding-top: 3px;
}
#content h3 {
  font-size: 150%;
}
#content .entry {
  border-bottom: 1px solid #ccc;
  margin:0;
  padding:0;
}
#content .entry .info {
  color: #999;
  font-size: 80%;
  margin-bottom: -0.5em;
}

#content .site_title {
  color: #777;
  padding-right: 10px;
}

#content .title {
  font-weight: bold;
}

#content .orig_link {
  font-size: 0.618em;
  float: right;
}

#content .date {
  padding-right: 10px;
}

.read {
  background-color: #F4F4F4;
}

a.feedlink {
  text-decoration: none;
}

.invisible {
  display: none;
  visibility: none;
}

form#newfeed {
  display: inline;
}

#url {
  background-color: #999;
}
